.footer {
  padding: 2rem 1rem;
  background-color: #000000;
}

.site-body {
  padding: 2rem 1rem;
  background-color: #d6cbcb;
  text-align: left;
}

.counter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}