@import "tachyons";

.site-body {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #d6cbcb;
    text-align: left;
}

.counter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}